.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.input{
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
}

input{
    padding: 8px;
    border-radius: 6px;
    outline: none;
    border: none;
}

.btn{
    background-color: green;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}