.card{
    width: 300px;
    border: 1px solid black;
    padding: 15px;
    margin: 30px auto;
    background-color: #F2EAE9;
    border-radius: 10px;
}

.card img {
    width: 100%; 
    border: 1px solid green;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card h2{
    font-size: 23px;
}

.card h3{
    text-align: center;
    color: red;
}

.card p{
    color: lightsalmon;
}

.card button{
    background-color: green;
    color: white;
    width: 100%;
    padding: 8px 0;
    outline: none;
    border: none;
    border-radius: 8px;
}